{% load static %}

<div class="menu-list" id="friends">
	
	<div class="header-list">
		<h3 id="title-header-list">
			<i class="fas fa-users"></i> Amigos
		</h3>
	</div>

	<div id="friends_content" lass="col-md-12">
	</div>

	<button class="button-add-friend btn" onclick="addFriendModal()">
		<i class="fas fa-plus"></i>
	</button>

</div>

<div class="menu-list hidden" id="workspaces">
	
	<div class="header-list">
		<h3 id="title-header-list">
			<i class="fab fa-weebly"></i>orkspaces
		</h3>
	</div>

	<div id="workspaces_content" lass="col-md-12">
	</div>

	<button class="button-add-friend btn" onclick="addWorkspaceModal()">
		<i class="fas fa-plus"></i>
	</button>

</div>