{% load static %}
<!-- Modal -->
<div class="modal fade" id="modalNotifications" tabindex="-1" role="dialog" 
    aria-labelledby="addFriend" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content modal-remove-friend">

      <div class="modal-header" style="border: none">
        <h5 class="modal-title">
            Solicitações de Amizade
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    
        <p style="width: 100%" id="list-notifications">

          <!-- <div class="card-friend-request">
            
            <label>
              Tony Stark
            </label>
            
            <div class="btn-list-options">
              
              <a style="color:white" class="btn-accept">
                Aceitar
              </a>
    
              <a style="color:white" class="btn-reject">
                Rejeitar
              </a>

            </div>

          </div> -->

        </p>

    

    
    </div>
  </div>
</div>